<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Edit User</h1>
            <form action="/users/edit/<%=user.id%>" method="post" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Input your name" value="<%=user.name %>">
                <input type="email" name="email" placeholder="Input your email" value="<%=user.email %>">
                <input type="text" name="location" placeholder="Input your location" value="<%=user.location %>">
                <input type="text" name="address" placeholder="Input your address" value="<%=user.address %>">
                <input type="file" name="img_path" />

                <button type="submit">Edit</button>
            </form>
        </div>
    </div>
</body>

</html>