<%- include('../partials/head', {title: 'Landing Page'}) %>
<%- include('../partials/navbar') %>
<div class="container text-center">
    <div class="form-container">
        <div class="row">
            <div class="col-md-12">
                <h1>Checkout Page</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src='<%= bank.img_path %>'>
                <h3><%= %></h3>
                <h3>Rp <%= total %>,00</h3>
                <h3>Payment to <%=bank.name%> Virtual Account</h3>
                <h3><%=token +" "+ Math.round(Math.random()*1000000000) %></h3>
                <a href='payment/confirmation'>
                    <button class="btn btn-danger">Checkout Now</button>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>