<%- include('../partials/head', {title: 'Landing Page'}) %>
<%- include('../partials/navbar') %>
<div class="container text-center" style="max-width: 640px;">
    <div class="row text-center mt-15 mb-20">
        <div class="col-md-12">
            <h2>Congratulation! You have won the auction!</h2>
        </div>
    </div>
    <div class="row text-center-mt-15">
        <div class="col-md-12">
            <div class="mb-15 fs-15 fw-500 color-orange">
                Please choose your location using the blue pointer in the map
            </div>
            <div id="mapid"></div>
            <button onclick="getPosition()">choose your location</button>

            <form method="POST" class="mt-25">
                <div class="color-orange fw-500 fs-18">Please choose courriers and payment method</div>
                <div>
                    <label for='courrier'>Choose courrier agent:</label>
                    <select id='courrier' name='courrier'>
                        <%courriers.forEach(courriers =>{%>
                            <option value="<%=courriers.price%>"><%=courriers.name%></option>
                        <%})%>
                    </select>
                </div>
                <div>
                    <label for="bank">Choose bank:</label>
                    <select id='bank' name='bank'>
                    <%banks.forEach(banks =>{%>
                        <option value="<%=banks.token%>"><%=banks.name%></option>
                    <%})%>
                    </select>
                </div>
                <input id="distance" name="distance" type="hidden" value="">
                <button type="submit" class="btn btn-success btn-block mt-15">Submit</button><br><br><br>
            </form>
        </div>
    </div>
    <div class="mt-15">
        <% if(distance && bank && courrier){%>
            <h3>Distance : <%=Math.round(distance/1000)%> km </h3>
            <h3>Delivery : <%= Math.round(distance/1000) * courrier%></h3>
            <h3>Total    : <%= Math.round(distance/1000) * courrier + itemPrice%></h3>
            <a href='checkout/payment?kode=<%=bank%>&total=<%=Math.round(distance/1000) * courrier + itemPrice%>'>
                <button class="btn btn-primary btn-block">
                    Continue to Payment
                </button>
            </a>
        <%}%>

    </div>
</div>
 

    <script>
        var mymap = L.map('mapid').setView([-6.260313438238053, 106.78156256675722], 13);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoicW95eWltYTIyIiwiYSI6ImNqdHNuZjFkazEycjc0NG1zMmJicTB0ZnoifQ.h8zbWtLR3V8N6-mzHVbRPw'
        }).addTo(mymap);
        L.control.scale().addTo(mymap);
        var marker = L.circle([-6.260313438238053, 106.78156256675722], {
            color : 'red',
            draggable : false,
            radius : 200
        }).addTo(mymap);
        marker.bindPopup("<b>Your item will be delivered from here!</b><br> :)").openPopup()

        var marker2 = L.marker([-6.26031343823, 106.77], {
            draggable : true
        }).addTo(mymap)
        marker2.bindPopup("<b>Please choose your delivery address !</b><br> :) :) :)").openPopup()

        // marker.on('move',function(event){
        //     console.log(event)
        // })
        function getPosition(){
            console.log(marker._latlng)
            console.log(marker2._latlng)
            x=L.CRS.Earth.distance(marker._latlng,marker2._latlng)
            console.log(x)
            document.getElementById('distance').value = x
        }
    </script>
<%- include('../partials/footer') %>