<%- include('../partials/head', {title: 'Dashboar Admin'}) %>
<%- include('../partials/navbar') %>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-15">
            <h1>Dashboard Admin</h1>
        </div>
        <div class="col-md-12 text-center mb-20">
            <a href="/items/Add">
                <button class="btn btn-primary">Add Product</button>
            </a>
        </div>
        
        <div class="col-md-12">
            <div>
                <% if(success){%>
                <h4>your data has been <%=success%>ed!</h4>
                <%}%>
                    <%if(err){%>
                <h4><%= err %></h4>
                <% } %>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Location</th>
                        <th>Time Remaining</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(member){ %>
                    <tr>
                        <td>
                            <img src="<%=member.img_path!==null ? '/'+member.img_path : 'https://via.placeholder.com/80x80' %>" style="width: 5em; border-radius: 7px;">
                            <span style="display: inline-block; margin-left: 15px;">
                                <%= member.name %>
                            </span>
                        </td>
                        <td><%= member.price %></td>
                        <td><%= member.location %></td>
                        <td><%= Math.round((86400000-(new Date()-member.createdAt))/3600000)%> hour(s) remaining</td>
                        <td><a href='/items/edit/<%= member.id %>'>Edit</a> || <a href='/items/Delete/<%= member.id %>'>Delete</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>